* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #1a1a1a
}

::-webkit-scrollbar {
    width: 7px;
    height: 14px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track-piece {
    background-color: #f9f9f9;
    color: #f9f9f9;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.raleway-medium {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}
